*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

ul, ol{
	list-style-type: none;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #e6f3ff;
}

img{
	height: 60px;
}

#head-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#head-text p{
	padding-bottom: 30px;
}

#head-text ol{
	display: flex;
	align-self: flex-end;
}


#content{
	background-color: #003566;
}

#up-part, #up-part ol{
	display: flex;
}

#up-part{
	justify-content: center;
}

#up-part li a{
	color: #fff;
	padding-bottom: 20px;
}

#up-part li {
	border-left: 2px solid #80c1ff;
	padding: 8px;
}

#main{
	background-color: #80c1ff;
	margin-left: 10px;
}

#main ul:nth-child(1){
	display: flex;
	background: #80c1ff;
	padding: 5px;
}

#main ul:nth-child(1) li{
	margin: 3px;
}

.line{
	padding-right: 8px;
}

#inside-main{
	background-color: #e6f3ff;
	padding:20px;
	display: flex;
}

#left h3{
	padding: 10px 0;
}

#bigbrownText{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #cc9900;
}

input{
   margin: 4px 0;
}

#right{
	width: 20%;
}

#double{
	display: flex;
}

#double div{
	margin-right: 20px;
}


.box{
	background-color: #f2ffe6;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid #ffe6b3;
}

.box h3{
	padding-bottom: 5px;
}

.box h4, .box p, .box img{
    margin-left: 10px;
}

.dots{
	list-style-type: circle;
	margin-left: 30px;
}

h1,h2,h3,h4,h5{
	color: #0073e6;
}